<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.example.scripts</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/nikhilsama/Dropbox/Coding/AlgoTrading/autologin.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>0</integer>
      <key>Second</key>
      <integer>0</integer>
      <key>Weekday</key>
      <integer>-1</integer>
    </dict>
  </dict>
  
  <dict>
    <key>Label</key>
    <string>com.example.scripts.download_instruments</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/nikhilsama/Dropbox/Coding/AlgoTrading/Download Instruments.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>0</integer>
      <key>Second</key>
      <integer>0</integer>
      <key>Weekday</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
      </array>
    </dict>
  </dict>
  
  <dict>
    <key>Label</key>
    <string>com.example.scripts.time_loop</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/nikhilsama/Dropbox/Coding/AlgoTrading/time_loop.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>9</integer>
      <key>Minute</key>
      <integer>55</integer>
      <key>Second</key>
      <integer>0</integer>
      <key>Weekday</key>
      <array>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
        <integer>4</integer>
        <integer>5</integer>
      </array>
    </dict>
  </dict>
</plist>

